body {
    background: #F9A826;
    margin-right: 100px;
    margin-left: 30px;
}

header{
    margin-top: 70px;
}

h1{
    color:red;
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

p{
    font-size: 18px;
}

img{
    margin-bottom: 10px;
}

.padrao{
    margin-bottom: 30px;
    width: 300px;
}

.contact{
    width: 100px;
}

footer{
    margin-bottom: 30px;
}